.root {
    position: relative;
    width: 24px;
    height: 24px;
    align-items: flex-start;
    overflow: hidden;
  }
  .vector {
    position: absolute;
    left: 37.5%;
    right: 37.5%;
    top: 31.25%;
    bottom: 43.75%;
    overflow: visible;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .vector2 {
    position: absolute;
    left: 18.75%;
    right: 18.75%;
    top: 12.5%;
    bottom: 9.375%;
    overflow: visible;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  