.iconLocation.iconLocation {
    width: 16px;
    height: 16px;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  .iconHandshakeOutline.iconHandshakeOutline {
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
  }
  .icon3 {
    width: 100%;
    height: 100%;
  }
  .root {
    width: 100%;
    height: min-content;
    place-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #fff;
  }
  .frame625643 {
    width: min-content;
    height: min-content;
    align-items: center;
    gap: 8px;
  }
  .ellipse2 {
    width: 32px;
    height: 32px;
    overflow: visible;
  }
  .icon4 {
    width: 100%;
    height: 100%;
  }
  .frame625640 {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
  }
  ._1453 {
    color: #828282;
    font-size: 12px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .unnamed {
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .labelWrapper {
    font-size: 12px;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    flex-shrink: 1;
  }
  .label {
    color: #333;
    font-size: 12px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .label2 {
    color: #f2994a;
    font-size: 12px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .label3 {
    color: #333;
    font-size: 12px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .frame625639 {
    width: min-content;
    height: min-content;
    align-items: center;
    gap: 4px;
  }
  .unnamed2 {
    color: #828282;
    font-size: 10px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame625641 {
    width: min-content;
    height: min-content;
    align-items: center;
    gap: 4px;
  }
  ._1 {
    color: #000;
    font-size: 12px;
    line-height: 150%;
    font-family: Lucida Grande, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .frame625638 {
    position: relative;
    width: 24px;
    height: 24px;
    align-items: flex-start;
    border-radius: 50px;
    background-color: #f2f2f2;
    overflow: hidden;
  }
  